.listContainer{
    height: calc(20vh - 50px);
    background:#ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.listContainer *{
    color:#000;
}